{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
<title>Xumbo Team</title>
</head>
<body>
	<header>
		<h1>XumboTeam</h1>
	</header>

	<nav>
		<ul>
	        <li><a href="#">Início</a></li>
	        <li><a href="#">Notícias</a></li>
            <li><a href="#">Próximos Eventos</a></li>
			<li><a href="#">Eventos Passados</a></li>
			<li><a href="#">Membros</a></li>
			<li><a href="#">Contatos</a></li>
        </ul>
	</nav>	

	<section>
	 {% block content %}{% endblock %}

 <br />
	</section>

	<footer>
			&copy; 2013 XumboTeam
	</footer>

</body>

</html> 
